@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "註冊";
}

<h1>@ViewData["Title"]</h1>
<h2 id="external-login-title">連結您的 @Model.ProviderDisplayName 帳號</h2>
<hr />

<p id="external-login-description" class="text-info">
    您已成功通過 <strong>@Model.ProviderDisplayName</strong> 驗證。
    請在下方輸入此網站要使用的電子信箱，並點擊註冊按鈕以完成登入。
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="請輸入您的信箱" />
                <label asp-for="Input.Email" class="form-label">電子信箱</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">完成註冊</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
