@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "重設密碼";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-primary text-white text-center">
                    <h4 class="mb-0"> @ViewData["Title"]</h4>
                </div>

                <div class="card-body p-4">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                        <input asp-for="Input.Code" type="hidden" />
                        <input asp-for="Input.Email" type="hidden" />

                        <div class="form-floating mb-3">

                            <input asp-for="Input.Email" class="form-control" disabled />
                            <label>帳號 (Email)</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                            <label asp-for="Input.Password">請輸入新密碼</label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="form-floating mb-3">
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                            <label asp-for="Input.ConfirmPassword">確認新密碼</label>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-lg btn-primary">確認重設</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}