@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "雙重驗證 (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>您已沒有剩餘的救援代碼。</strong>
                    <p>在您可以使用救援代碼登入之前，您必須 <a asp-page="./GenerateRecoveryCodes">產生新的救援代碼</a>。</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>您剩下 1 組救援代碼。</strong>
                    <p>您可以 <a asp-page="./GenerateRecoveryCodes">產生新的救援代碼</a>。</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>您剩下 @Model.RecoveryCodesLeft 組救援代碼。</strong>
                    <p>您可以 <a asp-page="./GenerateRecoveryCodes">產生新的救援代碼</a>。</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button type="submit" class="btn btn-primary">忘記此瀏覽器</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">停用 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">重設救援代碼</a>
        }

        <h4>驗證器應用程式</h4>
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">設定驗證器應用程式</a>
        }
        else
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">設定新的驗證器</a>
            <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">重設驗證器</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>隱私權與 Cookie 政策尚未接受。</strong>
            <p>您必須先接受政策才能啟用雙重驗證。</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
