@page
@model EmailModel
@{
    ViewData["Title"] = "管理信箱";
    ViewData["ActivePage"] = ManageNavPages.Email;
}


<div class="row">
    <div class="col-md-8">
        <partial name="_StatusMessage" model="Model.StatusMessage" />

        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger mb-3" role="alert"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label fw-bold">目前的信箱</label>

                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" disabled />
                        <span class="input-group-text text-success fw-bold"> 已驗證</span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" disabled />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link px-0 text-decoration-none">
                        寄送驗證信以開通此信箱
                    </button>
                }
            </div>

            <div class="mb-3">
                <label asp-for="Input.NewEmail" class="form-label fw-bold">新的電子信箱</label>
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="請輸入新的 Email" />
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>

            <div class="d-flex justify-content-end mt-4">
                <button id="change-email-button" type="submit" class="btn btn-primary px-4">儲存並更改信箱</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}