@page
@model PersonalDataModel
@{
    ViewData["Title"] = "個人數據";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>您的帳號包含了個人數據，這些數據是您在使用本系統時所提供的。您可以下載這些數據，或將其永久刪除。</p>
        <p>
            <strong>刪除數據將會永久移除您的帳號，此動作無法復原。</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">下載我的個人數據 (JSON)</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">刪除我的帳號</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
