# fly.toml app configuration file generated for companyapp-luyu on 2025-11-28T14:30:45+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'companyapp_data'
primary_region = 'sin'

[build]
  dockerfile = "Dockerfile"


[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[env]
  ASPNETCORE_URLS = "http://+:8080"
  DATABASE_PATH = "/data/company.db"

  [[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1

[mounts]
  source = "companyapp_data"
  destination = "/data"